.ipynb_checkpoints
.DS_Store
*.zip
__pycache__/
.idea/
data/
explain/
models/
output/
gensynth/
/assets/outputs
/assets/heatmaps
/interface/interface
/interface/*.o
/interface/.qmake.stash
/interface/moc*
/interface/ui_*.h
/interface/Makefile